@model CounterPlus.Models.SubCounterModel

@{
    ViewData["Title"] = "Dodawanie podlicznika";
    Layout = "_LayoutSignedIn";
}

<h1>Dodwanie podlicznika</h1>
<p class="text-danger">@TempData["err_msg"]</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSubcounter">
            <div class="text-danger"></div>
            @Html.Hidden("counterId", TempData["CounterId"])
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Stwórz nowy podlicznik" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Counter" asp-route-id="@TempData["CounterId"]">Powrót do licznika</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}