@model int

@{
    Layout = "_Layout";
    ViewData["Title"] = "Counter";
}

<div>
    <h1>Counter</h1>
    <p>@Model</p>
    <input id="counter" value="0"/>
    <button id="add">Dodaj</button>
    <button id="subtract">Odejmij</button>
</div>

@{
    <script type="text/javascript" defer>
        let interval;
        function updateTimer(){
            let time = $("#timer").val();
        }
        $("#add").on("click", function () {
            let counter = $("#counter");
            let v = parseInt(counter.val());
            counter.val(v+1);
        });
        $("#subtract").on("click", function () {
            let counter = $("#counter");
            let v = parseInt(counter.val());
            counter.val(v-1);
        });
    </script>
}
