@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> _signInManager;
@{
    ViewData["Title"] = "Home Page";
    Layout = _signInManager.IsSignedIn(User) ? "_LayoutSignedIn" : "_Layout";
}

<div class="text-center">
    <h1>CounterPlus</h1>
    <h2>Strona główna</h2>
    @if (!_signInManager.IsSignedIn(User))
    {
        <h3>Zaloguj się aby działać!</h3>
    }
</div>